<html>
    <head>
        <script  src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
        <link href="/assets/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div id="todo-table">
            <ul>
                <% for(var i=0; i < todos.length; i++){%>
                    <li><%= todos[i].item %></li>
                <% } %>
            </ul>
           
        </div>
        <form>
            <input type="text" name="item" placeholder="Yeni not ekle..." selected/>
            <button type="submit">Ekle</button>
        </form>
    </body>
    <script src="/assets/todo-list.js"></script>
</html>