
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style>
            body{background: skyblue;font-family: Verdana, Geneva, Tahoma, sans-serif;color: #ffffff;padding: 30px;}
            h1{font-size: 48px;text-transform: uppercase;letter-spacing: 2px;text-align: center}
            p{font-size: 16px;text-align: center;}
            a{font-size: 16px;text-align: center;}

        </style>
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1>İletişim</h1>
        <p>Bu sitenin iletişim sayfasıdır<br>
            <a href="/">Anasayfa</a>
        </p>
    </body>
</html>